button#red
{
    height: 50px;
    width: 50px;
    font-weight: bold;
    font-size: 2rem;
}

div#red
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* div#cb
{
    display: inline-flex;
    flex-direction: column;
} */